<div id="header">
    <div>
        <a href="/"><img src="/images/logo.gif" alt="Logo" /></a>
    </div>
    <!-- כפתור ה-Log In -->
    <form action="/login_out" method="POST" id="login-form">
        <!-- שדה מוסתר כדי לשלוח את הערך -->
        <input type="hidden" name="action" id="action-input" value="Log in">
        <button id="login-out-button" class="login_out-button" type="submit">Log in</button>
    </form>
    
    <div id="greeting">
        <!-- ברכת "שלום, שם משתמש" תוצג כאן -->
    </div>
    <ul>
        <li class="first <%= currentPage === 'index' ? 'current' : '' %>"><a href="/">Home</a></li>
        <li class="<%= currentPage === 'meals' ? 'current' : '' %>"><a href="/meals">Meals</a></li>
        <li class="<%= currentPage === 'about' ? 'current' : '' %>"><a href="/about">About us</a></li>
        <li class="<%= currentPage === 'blog' ? 'current' : '' %>"><a href="/blog">Your shares</a></li>
        <li class="<%= currentPage === 'contact' ? 'current' : '' %>"><a href="/contact">Contact Us</a></li>
    </ul>    
<script>
    window.onload = function() { 
        fetch('/session-info')
        .then(response => {
            if (!response.ok) {
                throw new Error('Not logged in');
            }
            return response.json();
        })
        .then(data => {
            // שם משתמש התקבל בהצלחה
            const username = data.username;
            document.getElementById('login-out-button').textContent = 'Log out';
            document.getElementById('greeting').textContent = `Hi, ${username}`;
        })
        .catch(error => {
            console.error('Error fetching session info:', error);
            document.getElementById('login-out-button').textContent = 'Log in';
            document.getElementById('greeting').textContent = '';
        });
};
   
document.getElementById('login-out-button').addEventListener('click', function () {
    const actionInput = document.getElementById('action-input');
    actionInput.value = this.textContent; 
});

</script>
</div>

